<h2>Twitter for Palindromes</h2>
<p>
  The time is now: <%= Time.now %>
</p>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/tweet_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>

<%else%>

<%= link_to "Sign up now!", signup_path, class: "btn, btn-lg, btn-primary" %>

<table>
  <tr>
    <th>ID</th>
    <th>Username</th>
  </tr>
<% User.all.each do |user| %>
  <tr>
    <td><%= user.id %></td>
    <td><%= user.name %></td>
  </tr>
  <%end%>
</table>

<%end%>
